* {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-color: rgb(0, 0, 0);
    background: url(gif/background.gif) no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

h1 {
	color: #ff2b2b;
    position: relative;
    top: -20px;
	font-size: 50px;
}
  
header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgb(3, 3, 3);
opacity: 0.5;
z-index: 1;
}

.profile-container {
    position: relative;
    width: 350px;
    padding: 100px 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stars i{
    color:#e4c63f;
 }
.stars span{
    color:#ffffff;
 }

 .social-links button{
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 30px 10px rgba(51, 204, 255);
    margin: 0 10px;
    border-radius: 30%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}
.social-links button .fab{
    font-size: 1.5em;
    line-height: 40px;
    position: relative;
    z-index: 10;
    transition: colory 0.5s;
}
.social-links button::after{
    content: '' ;
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: deepskyblue;
    position: absolute;
    transition: 0.5s;
}
.social-links button:hover::after{
    top:0;
}
.social-links button:hover .fab{
    color: #fff;
}
.social-links button:hover {
    transform: translateY(-10px);
}
ul {
    margin:0px 0 0 0;
    padding:0;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: block;
    font:200 16px 'Circular', arial,verdana;
    padding:10px 10px 10px 10px;
}

ul li a b {
    position: relative;
    top: 0px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

.linkOnly {
  display:none;
  background:#81868a93;
  text-align: center;
  padding:10px 10px 10px 10px;
}

.linkOnly b {
    padding:0 0 5px 0;
    display: inline-block;
    font:bold 25px "Circular",Helvetica,Arial,sans-serif;
    color:rgb(0, 0, 0);
}

.linkOnly a {
    border-radius:5px;
    background:;
    padding:15px 25px;
    background: rgb(38, 176, 255)!important;
    color:#000;
    display: inline-block;
    margin:15px 0 0 0;
    font-weight: bold;
}

.clearfix {
    *zoom: 2;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 2;
}
.clearfix:after {
    clear: both;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 50px;
    }
}.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons li a {
    font-size: 36px;
    text-shadow: 0 0 0px;
    transition: 0.3s ease;
}

.social-icons li a:hover {
    text-shadow: 0 0 10px;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }S
